

.bg-lt-blue {
  background-color: #89c4e2;
}

.bg-white{
  background-color: #ffffff;
}

.bg-gray{
  background-color: #364049;
}

.btn-color{
  background-color: #5288aa;
}

body{
  background-color: #f1ecec;
}

.img-play{
  border-top-left-radius: 22%;
  border-top-right-radius: 22%;
  border-bottom-left-radius: 22%;
  border-bottom-right-radius: 22%;
}

.img-top-rnd{
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
}


.btn-hov:hover{
  background-color: #ffffff;
  outline: 2px solid black;;
  box-shadow: 0.5em 0.5em black;
}

.btn-hov2:hover{
  background-color: #5288aa;
  outline: 2px solid black;;
  box-shadow: 0.5em 0.5em black;
}